EXPO_PUBLIC_API_BASE=https://recycle-production.up.railway.app
EXPO_PUBLIC_DETECTION_API_URL=http://192.168.1.22:8000
EXPO_PUBLIC_VIDEO_SERVER_URL=http://192.168.1.22:8082
EXPO_PUBLIC_VIDEO_SERVER_PORT=8082
EXPO_PUBLIC_YOUTUBE_API_KEY=AIzaSyDaLg8m91aMEFVpL-_Zm4ns22esl2Mn10k

